
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Docker
docker-compose.override.yml

# Airflow
logs/
plugins/
airflow-webserver.pid

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# OS
.DS_Store
Thumbs.db
